body {
  background-color: black;
}

.card {
  width: 400px;
  height: 200px;
  background: url("../assets/backgorund.png") no-repeat;
  background-size: cover;
  padding: 1px 20px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 10%;
}

a {
  text-decoration: none;
  color: black;
}

.github {
  list-style-image: url("../assets/github.png");
}

.instagram {
  list-style-image: url("../assets/Insta.png");
}

.linkedin {
  list-style-image: url("../assets/linkedin.png");
}
